<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>JWT-STUDY</title>
</head>
<body>
        <nav id="outer">
        <form id="inner" action="/login" method="post">
        
        <input name="name" placeholder="name" autocomplete="off"></input>

        <input name="pass" placeholder="password" autocomplete="off"></input>
       
        <button type="submit">Logar</button>
        <a href="/Cadastro">Cadastre-se</a>
        </form>
    </nav>
    
</body>
</html>